* {
  margin: 0;
  padding: 0%;
}
body {
  max-width: 100%;
  height: 100%;
}
.container {
  margin: 0%;
  padding: 0%;
}
.linka {
  text-decoration: none;
  text-align: center;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a.linka:hover {
  background-color: rgb(21, 0, 61);
  transition: 0.3;
}
.nav {
  height: 40px;
  background-color: rgb(4, 2, 34);
}
.banner {
  height: 150vh;
  background-image: url(./tm.jpeg);
  background-size: cover;
  background-repeat: no-repeat;

  /* background-color: rgb(16, 14, 24); */
}

.middle {
  background-color: rgb(141, 67, 67);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 25px;
  display: inline-flex;
  text-align: center;
}
.middle a {
  text-decoration: none;
  color: black;
  font: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.column1 {
  width: 50%;
  background-color: rgb(244, 241, 255);
  background-position: center;
  background-size: cover;
  height: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.column2 {
  width: 50%;
  background-color: rgb(244, 241, 255);
  background-position: center;
  background-size: cover;
  height: 100%;
}

.bottom {
  margin: 0%;
  padding: 0%;
  height: 350px;
  background-color: rgb(244, 241, 255);
  transform: translateY(-4px);
}
.bottom h2 {
  text-align: center;
  padding: 15px 0;
}
.bottom p {
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0 40px;
}
.footer {
  padding-top: 12px;
  height: 150px;
  background-color: rgb(4, 2, 34);
  text-align: center;
  color: #f2f2f2;
}
.footer h2,
p {
  padding: 8px;
}
@media only screen and (max-width: 700px) {
  .container {
    width: 49.99999%;
    margin: 6px 0;
  }
  .middle {
    display: inline-flex;
  }
}

@media only screen and (min-width: 100px) {
  .container {
    width: 100%;
  }
  .linka {
    font-size: 10px;
  }
  .banner {
    background-image: url(./cover2.jpg);
    background-position: center;
  }
}
